@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.cta-title-539d7abc-a3fb-41e2-9a86-9250205b7d39 h1 {
    display: none;
}

.hero-title {
    max-width: 470px;
}
    .hero-title img {
        width: 250px;
    }
    
    .hero-title h1 {
        font-family: "Bree Serif", serif;
        color: white;
        text-shadow: 1px 1px 3px black;
        text-align: justify;
    }
    
    .hero-title p {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: white;
      text-shadow: 1px 1px 3px black;
      text-align: justify;
    }

body {
  font-family: "Bree Serif", serif;
}

.title-hero {
  font-family: "Bree Serif", serif;
  color: #FF2E61;
  font-size: 24pt;
  animation: fadeInUp 0.9s ease-out forwards;
  margin-top: 20px;
}

.text-hero {
  font-family: "Bree Serif", serif;
}

.py-4 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 100px;
}

.principal-form-field {
    border: 1px solid #0097FF !important;
    color: #595C5F;
}

.principal-form-label {
    color: #B1B1B1;
}

.hero-title-img-mobile {
       display: none;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.hero-title-img-mobile img {
      width: 150px;
}

.navbar .container-lg {
flex-wrap: nowrap !important;
}

.section-image img {
    width: 80%;
}

.footer-1 {
    color: white;
    padding: 30px 20px;
    font-family: 'Montserrat', sans-serif;
}

.footer-1-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px; 
}

.footer-1-info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-1-logo img {
    height: 80px;
    width: 100%;
    display: block;
}

.footer-1-text p {
    margin: 4px 0;
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.9;
}

.footer-1-buttons {
    display: flex;
    gap: 15px;
}

.baixe-nosso-app {
        font-size: 12px;
}

.footer-1-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-1-button:hover {
    opacity: 0.8;
}

.footer-1-button img {
    width: 25px;
    height: 25px;
}

.pb-2 {
     padding-bottom: 0rem !important;
}

@media (max-width: 850px) {
  
   .footer-1-container {
        flex-direction: column; 
        text-align: center;
        max-width: 500px;
    }

    .footer-1-info {
        flex-direction: column; 
        gap: 15px;
        align-items: center;
    }

    .footer-1-buttons {
        flex-direction: column;
        width: 100%;
       font-size: 18px;
       min-width: 250px;
    }
    
    .footer-1-button img {
    width: 35px;
    height: 35px;
}

.baixe-nosso-app {
    font-size: 16px;
    font-weight: 700;
}

    .footer-1-button {
        width: 100%;
        box-sizing: border-box; 
    }
        .hero-title-img-mobile {
       display: flex;
}
    }
