@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Bree Serif", serif;
}

.container-agradecimento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.container-agradecimento img {
    width: 100px;
}

.container-agradecimento h1 {
    font-size: 2.5em;
     margin-bottom: 10px;
     color: white;
}

.container-agradecimento p {
     text-align: center;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: white;
}
.container-agradecimento h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    max-width: 500px;
    color: white;
}

.agradecimento-btn {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    padding: 10px 25px; 
    width: 80%;
    max-width: 300px;
    background-color: #FF2E61;
    border: none; 
    margin-top: 15px;
    color: white;
    font-family: "Bree Serif", serif;
    font-size: 1.5em;
    text-decoration: none; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.agradecimento-btn:hover {
    background-color: #25d366; 
}

.agradecimento-btn img {
    fill: currentColor; 
    width: 24px; 
    height: 24px;
}
